.banner{
    height: 50vh;
    width: 100%;
    background-color: #7a7a7f;
    background-image: url(../../../Hitec/asset/IntMenuii.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.splide{
    display: flex;
    max-height: 30vh;
    margin-bottom: 4rem;
}
.splide__slide{
    height: 30vh;
    display: flex;
    justify-content: center;
    
}
.splide__slide>figure{
    width: 45vh;
    border-radius: 2rem;
}
.splide__slide>figure:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.splide__slide>figure>img{
    height: 30vh;
    width: 100%;

}
.splide__slide>figure>figcaption{
    border-radius: 2rem;
}

.splide__slide>figure>figcaption>h3{
    position: absolute;
    padding: 2rem;
    width: 45vh;
    bottom: 10%;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #1c1c1c89;
    text-align: center;

}
.modal{
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 0%;
    height: 0%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.591);
    padding-top: 2rem;
}
.modal--active{
    opacity: 1;
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
}

.modal--active>.m_img{
    margin: auto;
    display: block;
    width: 70vw;
    height: 35vw;
}
.m_img>img{
    width: 100%;
    height: 100%;
}
.modal--active>.mod_splide>.splide__track{
    margin-top: 2rem;
}
.modal--active>.mod_splide>.splide__track>.splide__list{
    gap: 2rem;
    justify-content: center;
}
.modal--active>.mod_splide>.splide__track>.splide__list>.splide__slide{
    width: 25vh;
    height: 16vh;

}
.modal--active>.mod_splide>.splide__track>.splide__list>.splide__slide>figure>figcaption{
    display: none;
}

.modal-ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: fit-content;
    margin: auto;
    margin-top: 2.8rem;
    gap: 1rem;
}
.modal-ul>li{
    width: 19.6vw;
    height: 10vw
}
.modal-ul>li>img{
    width: 100%;
    height: 100%;
}
.mod-remove{
    display: flex;
    position : relative;
    background-color: #ffffffdc;
    width: 2vw;
    height: .2vw;
    top: 7%;
    left: 95%;
    rotate: -45deg;
}
.mod-remove::after{
    content: " ";
    rotate: 90deg;
    width: 2vw;
    height: .2vw;
    background-color: inherit;
}
.mod-remove:hover{
    background-color: #707070dc;
}
.modal-ul>li{
    border: thin white solid;
}
.modal-ul>li>img:hover{
    transition: 0.5s;
    scale : 1.1;
}