.banner{
    height: 50vh;
    width: 100%;
    background-color: #7a7a7f;
    background-image: url(/asset/IntMenui.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}